* {
  margin: 0;
  padding: 0;
}

header {
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  display: flex;
  border-bottom: 1px solid black;
}

ul {
  display: flex;
  margin-top: 1.5%;
  justify-content: space-around;
  width: 50%;
  align-items: center;
}

li {
  list-style: none;
}

main {
  width: 95%;
  margin: auto;
  flex-wrap: wrap;
}

.list-item {
  width: 30vw;
  min-height: 20rem;
  margin: auto;
  margin-bottom: 20px;
}

.item-image {
  margin: auto;
  width: 70%;
}

.item-text {
  text-align: center;
  margin-top: 10px;
}

.item-text p {
  margin: 0;
}

.list-item img {
  width: 100%;
}

.comment-btn {
  margin-top: 1.5rem;
}

footer {
  border: 1px solid black;
  height: 12%;
  padding-top: 17px;
  margin-top: 50px;
}

.modal-body img {
  height: 300px;
  margin-left: 10%;
  max-width: 100%;
  border: 2px solid black;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-body {
  border: solid 3px black;
  height: 700px;
}

.btn-close {
  font-size: 20px;
}
